@model CountryAddRequest
@{
    ViewBag.Title = "Create Person";
    ViewBag.CurrentUrl = "~/Countries/Create";
}

<!-- breadcrum starts -->
<div class="flex">
    <div class="flex-1">
        <div class="text-grey">
            <span>Contacts</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">Persons</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">Create</span>
        </div>
    </div>
</div>
<!-- breadcrum ends -->

<div class="form-container">

    <a asp-controller="Countries" asp-action="Index" class="link-hover">Back to Countries</a>
    <h2 class="text-large">Create Country</h2>
    <form asp-controller="Countries" asp-action="Create" method="post">

        @*PersonName*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="CountryName" class="form-label">Country Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="CountryName" class="form-input" />
                <span asp-validation-for="CountryName" class="text-red"></span>
            </div>
        </div>


        @*Submit*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back">Add</button>

                <div asp-validation-summary="All" class="text-red"></div>
                
                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }

            </div>
        </div>
    </form>
</div>

@section scripts 
{
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobtrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script> 
}