@model WeatherInfo

@{
    string? SetColor(int? temperature)
    {
        if (temperature is not null)
        {
            if (temperature < 44)
                return "blue";
            else if (temperature >= 44 && temperature <= 74)
                return "salad";
            else return "golden";
        }
        else
        {
            return null;
        }
    }
}

<div class="containerItem @SetColor(Model.TemperatureFahrenheit)">
    <table>
        <tr>
            <td class="rightBorder">
                <span class="spanType2"> @Model.CityName </span>
                <span class="spanType3"> @Model.DateAndTime?.ToString("hh:mm tt") <br></span>
                <a href="/weather/@Model.CityUniqueCode">Details</a>
            </td>
            <td>
                <span class="spanType1"> @Model.TemperatureFahrenheit </span>
                <span class="spanType4">&#xB0;F</span>
            </td>
        </tr>
    </table>
</div>