<!DOCTYPE>
<html>
<head>
    <title>@ViewBag.appTitle</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <span class="spanType1">Weather</span>
    
    <div>
        @RenderBody()
    </div>
</body>
</html>