@model CountryResponse
@{
    ViewBag.Title = "Delete Country";
}

<!-- breadcrum starts -->
<div class="flex">
    <div class="flex-1">
        <div class="text-grey">
            <span>Contacts</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">Persons</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">Delete</span>
        </div>
    </div>
</div>
<!-- breadcrum ends -->

<div class="form-container">

    <a asp-controller="Persons" asp-action="Index" class="link-hover">Back to Person</a>
    <h2 class="text-large">Delete Person</h2>
    <h3>Are you sure to delete this person?</h3>

    <form asp-controller="Persons" asp-action="Delete" method="post">

        <input type="hidden" asp-for="CountryID" />

        @*CountryName*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="CountryName" class="form-label">Country Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="CountryName" class="form-input" disabled="disabled" />
            </div>
        </div>



        
        @*Submit*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-red-back">Delete</button>

                @if (ViewBag.Error != null)
                {
                    <div class="text-red ml">
                        <ul>
                            <li class="ml">@ViewBag.Error</li>
                        </ul>
                    </div>
                }

            </div>
        </div>
    </form>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobtrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}