@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WeatherInfo

@functions {
    //method
    string? SetColor(int? temperature)
    {
        if (temperature is not null)
        {
            if (temperature < 44)
                return "blue";
            else if (temperature >= 44 && temperature <= 74)
                return "salad";
            else return "golden";
        }
        else
        {
            return null;
        }
    }

    int x = 10;

    string Name { get; set; } = "Hello name";
}

<div class="container2">
    <div class="containerItem">
        <table>
            <tr>
                <td class="rightBorder">
                    <span class="spanType2"> @Model.CityName </span>
                    <span class="spanType3"> @Model.DateAndTime?.ToString("dd/mm/yyyy") <br></span>
                    <span class="spanType3"> @Model.DateAndTime?.ToString("hh:mm tt") <br></span>
                </td>
                <td>
                    <span class="spanType1"> @Model.TemperatureFahrenheit </span>
                    <span class="spanType4">&#xB0;F</span>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <a href="/home">Back to Weather Home Page</a>
    </div>
</div>