@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<WeatherInfo>

<div class="container">
    @foreach (WeatherInfo w in Model)
    {
        <partial name="_CityPartialView" model="w" />
    }

</div>