@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<WeatherInfo>


<div class="container">
    @foreach (WeatherInfo w in Model)
    {
        @await Component.InvokeAsync("City", new { weatherInfo = w })
    }

</div>