@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <span class="containerItem">You have entered an invalid City Code</span>
    <br />
    <br />
    <span class="containerItem"><a href="/home">Back to Weather Home Page</a></span>
