<!DOCTYPE>
<html>
<head>
    <title>@ViewBag.appTitle</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <span class="containerItem">You have entered an invalid City Code</span>
    <br />
    <br />
    <span class="containerItem"><a href="/home">Back to Weather Home Page</a></span>
    
</body>
</html>