<div class="container">
    <a asp-action="Index"> <input type="button" class="buttons" value="Back to the list"> </a>
    <div class="movieName">
        You can not add more than 10 movies
    </div>
</div>