<!DOCTYPE html>
<html>
    <head>
        <title>Configuration Demo</title>
        <meta charset="utf-8"/>
        <link href="~/StyleSheet.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>Home</h1>
        <div class="box">
        <div>@ViewBag.ClientId</div>
        <div>@ViewBag.ClientSecret</div>
        </div>
    </body>
</html>